<ul> <% @posts.each do |post| %>
  <li id='post-<%= post.id %>'>
    <i class="fas fa-user-circle"></i>
    <%if logged_in?%>
      <span class="user"><%= link_to post.user.name, post.user %></span>
    <%end%>
    <span class="content"><%= post.body %></span>
    <span class="timestamp">
      Posted <%= time_ago_in_words(post.created_at) %> ago.
    </span>
  </li>
  <%end%>
</ul>